# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# images should be managed by Firebase Storage
/public/assets/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg
!public/placeholder*
!public/favicon*

!.env.local.example
!.env.local.emulator
